$backgroundDark : #38414a;
$colorDarkTheme : #f6fafd;

$backgroundLight: #f6fafd;
$colorLightTheme: #38414a;

$turquoise : rgba(14,179,207,1);
$purple : #6942e4;
$blue : #3a7bda;

$gradient: linear-gradient(143deg, rgba(14,179,207,1) 0%, rgba(37,93,173,1) 54%, rgba(93,58,201,1) 100%);

