@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.header {
  
  &-pseudo {
    font-family: 'Hero', sans-serif;
    text-align: center;
    padding-top: 15rem;
    font-size: 2.8em;
    position: relative;
    top: -9rem;
    text-transform: uppercase;
    text-shadow: 8px 5px 5px rgba(0,0,0,.2);
  }
  
  &-avatar {
    position: absolute;
    z-index: 1;
    width: $headerAvatarSize;
    bottom: calc(#{$headerAvatarSize} / -2 + 2rem);
    left: calc(50% - (#{$headerAvatarSize} / 2));
    border-radius: 50%;
    z-index:1;
  }
}
  
.user {
  @include contentLayer;
  padding-top: 5rem;

  .preferences {
    &-title {
      @include title(turquoise);
    }

    &-infos {
      &-container {
        display: flex;
        flex-direction: column;
        
        .content {
          display: flex;
          flex-direction: column;
            
          &-input-label-field {
            font-weight: 900;
          }
  
          &-input-field {     
            @include form-element;
            margin: .5rem 0;
          }
          
          /* disabled input */
          &-input-field[disabled] {
            background: none;
            border: none;
            margin-bottom: 0.9rem;
          }
  
          &-input-checkbox {
            position: relative;
            margin: 0.5rem 1rem;
  
            .checkbox {
              @include checkbox;

             }
           
             .checkbox:active,
             .checkbox:checked:active,
             .checkbox:checked {
               @include checkbox-checked
             }
  
            .label {
              text-align: left;
              font-weight: normal;
              margin: 1rem 0;
            }
  
            /* disabled input */
            .checkbox[disabled] {
              display: none;
            }
  
            /* disabled input */
            .checkbox[disabled] + .label {
              padding-left: 20px;
            }
  
            /* disabled input */
            .checkbox[disabled] + .label::before {
              position: absolute;
              content: "";
              left: 4px;
              @include checked-disable(rgba($colorLightTheme, .2), 15px, 3px);
            }
  
            /* disabled input */
            .checkbox[disabled]:checked + .label::before {
              @include checked-disable($turquoise, 15px, 3px);
            }
          }

        }
      }

      &-buttons {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        
        .button {
          display: block;
          background: none;
          font-size: 1rem;
          text-decoration: underline;
          margin: 0.2rem 0;
          padding: 0;

          &--mode-editor, &--validate-preferences {
            color: $turquoise;
          }          
          
          &--delete-account {
            color: $red;
          }
        }
      }
    }
  }

  .delete-account {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: $mainGradientOpacity;
    z-index: 1;
    padding: .5rem;
    animation: fade .4s ease;

    &-modal {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      background: darken($backgroundDark, 5%);
      max-width: $deleteModalSize;
      margin: auto;
      margin-top: 30vh;
      color: $colorDarkTheme;
      min-height: 33vh;
      padding: 1rem 1.5rem;
      position: relative;
      animation: fromCenter .2s ease;

      &-close-cross {
        font-size: 0;
        background-color: transparent;
        background-image: url('/src/assets/images/icons/icons8-delete-50.png');
        width: 50px;
        height: 50px;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }

      &-message {
        text-align: center;
        padding-top: 2rem;
      }

      &-buttons {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;

        .button {
          border: none;
          font-size: 1rem;
          margin: .5rem 1rem;
          color: $colorDarkTheme;
          background-color: transparent;
          font-weight: 900;
          
          &--delete {
            text-transform: uppercase;
            padding: $paddingButton;
            border-radius: 5px;
            background: $purple;
          }
        }
      }
    }
  }

  .preferences-events {
    &-title {
      @include title($blue);
    }

    &-content {
      padding: 1rem 0;

      &-subtitle {
        @include subtitleType1
      }
      
    }
  }
} 

// adjust for other devices
@media (min-width: 768px) {
}

// for desktop
@media (min-width: 1024px) {

  .header-pseudo {
    padding-top: 20rem;
  }
  .user {
    .preferences {
      &-title {
        margin-top: 4rem;
      }

      &-infos {
        &-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .content {
            flex-direction: column;
            width: max-content;
            align-self: center;
          }
        }

        &-buttons {
          flex-direction: row;
          justify-content: center;
          margin: 1.5rem 0 3rem;

          .button {
            margin: 0 1rem;
            text-decoration: none;

            &:hover,
            &:focus {
              text-decoration: none;
            }

            &--mode-editor:hover,
            &--mode-editor:focus {
              color: $blue;
            }

            &--validate-preferences:hover,
            &--validate-preferences:focus {
              color: $blue;
            }

            &--delete-account:hover,
            &--delete-account:focus {
              color: $preferenceDeleteLinkColorHover;
            }

          }
        }
      }
    }

    .delete-account {
      &-modal {
        &-close-cross {
          &:hover,
          &:focus {
            color: #636363;
          }
        }

        &-buttons {
          .button--delete {
            &:hover,
            &:focus {
              background: #4b2bb3;
              color: #dadee0;
            }
          }

          .button--cancel:hover {
            color: $purple;
          }
        }
      }
    }
  }
}