@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/animations';

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header_background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
  }

/* CSS NAVIGATION */
.navigation-item {
  font-weight: 900;
  width: 100%;
  background-color: rgba(black, .3);
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1rem;
  animation: fromTop 400ms ease;
  transition: 0.3s;

  &--left {
    font-family: $fontFamilyTitle;
    font-size: 2.5rem;
    margin-right: auto;

    .logo-text {
      position: relative;
      background: $mainGradientExtDark;
      background-size: 350px 50px;
      background-position: 0px 0;
      background-clip: text;
      background-repeat: no-repeat;
      -webkit-background-clip: text;
      border-radius: 25%;
      color: transparent;
      transition: .3s ease;
     

      &::before {
        content: 'eventListener';
        color: rgba($colorDarkTheme, .9);
        font-family: $fontFamilyTitle;
        position: absolute;
        left: -6px;
        top: -4px;
        transition: .3s ease;
      }

      &:hover {
        &::before {
          left: 17px;
          top: 4px;
        }
      }
    }
  }

  .searchbar {
    display: none;
  }

  .searchbar-visible {
    display: inline-block;
    position: absolute;
    right: calc(50% - 150px);
    bottom: -2.5rem;
    

    .searchbar-input {
      width: 280px;
      padding: .5rem .8rem;
      border-radius: $radius;
      background-color: rgba(255,255,255,.2);
      color: white;
      border: 1px solid rgba(255,255,255,.2);
      margin: 0;
      
      &::placeholder {
        color: white;
      }
    }
  }
}

.menu-burger {
  display: block;
  position: fixed;
  right: .4rem;
  top: 1.2rem;
  font-size: 2rem;
  color: $turquoise;
  z-index:1;
}

.minimalize {
  padding: 1rem;
  background: rgba(black, .5);
  transition: 0.3s;

  .navigation-item--left {
    font-size: 2rem;
  }
  
  .menu-burger {
    top: .4rem;
  }
}



.menu {
  display: none;

  &-main {
    background: darken($backgroundDark, 5%);
    color: $colorDarkTheme;
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 1rem 4.5rem 1rem 1rem;
    animation: menuBurger .4s ease;
  }
}
.menu-visible {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: $mainGradientOpacity;

  .navigation-item--active {
    width: 100%;
  }

  .navigation-item--right {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: right;
    font-weight: 900;
    color: $colorDarkTheme;
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

      &:hover {
        color: $turquoise;
      }

      &.button {
        background: none;
        margin-left: -0.2rem;
      }

      &.online {
        display: flex;
        align-items: center;
      }
  }
}

section {
  padding: $sectionPaddingMobile;
  font-family: 'univers', sans-serif;
}

/* CSS POUR FOOTER */ 
footer { 
  position: relative;
  z-index: 0;
  a {
    color : rgba($colorDarkTheme, .6);
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.3);
    padding: $sectionPaddingMobile;

      &-title {
      @include title($purple);
      font-size: 0;
      }

    &-subtitle {
      @include subtitleType1;
      width:100%;
      text-align: right;
    }
    & ul li {
      padding: 0 0 .2rem;
    }
    &-social {
      text-align: center;
      padding: 2rem 0;
    }

    &-links {
      text-align: right;
    }
  }
}

/* RULES FOR RESPONSIVE */
@media all and (min-width: 768px) {
  /* NAVIGATION */
  .navigation-item--left {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchbar {
      margin: -0.7rem 3rem 0;
    }
    .searchbar-visible {
      right: 2rem;
    }
  }
}


@media all and (min-width: 980px) {
  /* NAVIGATION */

  .menu-burger {
    display: none;
  }
  .menu {
    display: flex;

    &-main {
      background: transparent;
      margin: auto;
      min-height: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      animation: none;
  }

    .navigation-item {
      &--right {
        font-size: 1rem;
        margin: 0 2rem;
        text-transform: uppercase;

          &.button {
            color: $colorDarkTheme;
            font-weight: 900;
            letter-spacing: 1px;
            padding: $paddingButton;
            border-radius: $radius;
            border: 2px solid $colorDarkTheme;
            background: transparent;
            background: $mainGradient;
            background-size: 250px 60px;
            background-position: 250% 0;
            background-repeat: no-repeat;
            transition: background-position .3s ease-out;
            
          }

          &.button:hover, &--active button {
            background-position: 0%;
          }

          &.online {
            display: flex;
            align-items: center;
            margin: -.5rem;
          }

          & .pseudo:before {
            content: 'Bienvenue';
            margin-right: .5rem;
          }

        }

      &--active {
        color: $turquoise;
      }
    }
  }

  section {
    padding: $mainPadding;
  }

  .footer > div {
    display: flex;
    justify-content: space-around;
  }
}

@media all and (min-width: 1430px) {
  .navigation-item--left .searchbar-visible {
    position: relative;
    bottom: .5rem;
    right:0;
    margin-left: 1.5rem;
    width: 150px;
  }
}
