@mixin full-page {
  background-image: url("https://images.unsplash.com/photo-1498462335304-e7263fe3925a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 100% 50%;
  width: 100%;
  height: 100vh;
}

@mixin page-logo {
  background: -webkit-linear-gradient(100deg, $turquoise, $purple, $blue);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
  font-weight: bold;
  align-self: center;
  font-size: 1.5rem;
  margin-right: 2rem;
  font-family: $fontFamilyTitle;
}

@mixin smallScreenCommon {
  font-size: $textFontSize;
  text-align: justify;
  margin: $marginBottom;
  padding: 1rem;
}

@mixin smallScreenDateAndLocCommon($side) {
  width: 50%;
  margin-#{$side}: $marginBottom;
  font-size: $textFontSize;
  margin-bottom: $marginBottom;
  text-align: justify;
  padding-top: 1rem;
}

/* Responsive */

// Extra Small devices
@mixin xs {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra Large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (min-width: $screen+'px' ) {
     @content;
  }
}