@import "src/assets/styles/vars";
@import "./vars";
@import "./mixins.scss";

body {
background-image: url("https://images.unsplash.com/photo-1498462335304-e7263fe3925a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
background-repeat: no-repeat;
background-size: 100% 50%;
}

.full-page {
  width: 50%;
  margin: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  
}

.nav {
  height: 5rem;
  //background-color: #fff;
  //margin-bottom: 5rem;
  display: flex;
  justify-content: space-between;

  &-left {
    display: flex;
    padding: 2rem;
  }

  &-logo {
    //color: 	#4559FF;
    background: -webkit-linear-gradient(100deg, $turquoise, $purple, $blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    align-self: center;
    font-size: 1.5rem;
    margin-right: 2rem;
    font-family: $fontFamilyTitle;

  }

  &-form {
    display: flex;

    &-input {
      align-self: center;
      padding: 0.5em;
      border-radius: 5px;
      border: none;
      margin-left: 0.4rem;

      &:focus {
        border: 1px solid #50558d,;
        padding: 1em
      }
    }

  }

  // &-icon {
  //   align-self: center;
  //   font-size: 1rem;
  //   color: #4559FF;  
  // }

  &-btn {
    margin-top: 1.5rem;
    margin-right: 2rem;
    padding: 0.5rem;
    border: 0;
    border-radius: 5px;
    background-color: #fff;
    //color: #4559FF;
    background: -webkit-linear-gradient(rgb(41, 61, 235), #50558d, #A23FE8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      //background-color: #4559FF;
      font-weight: bold;
      font-size: 0.9em;
    }
  }
  
}

.header-event {
  // width: 50%;
  // margin: auto;
  display: flex;
  flex-wrap: wrap;

  &-bg {
    background-image: url("images/event.png");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 40vh;
    width: 70%;
    border-bottom: 1px solid #D3D3D3;
    border-radius: 5px 0 0 0;
  }

  &-infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    text-align: justify;
    background-color: #EBEBEE;
    border-bottom: 1px solid #D3D3D3;
    padding: 1.5rem;
    border-radius: 0 5px 0 0;

    &-date {
      font-size: 1em;
    }
    &-name {
      font-weight: bold;
      letter-spacing: 1px;
      padding-bottom: 1em;;
    }
    span {
      font-size: 0.7em;
      color: 	#808080;
      margin-right: 0.5em;
    }
    button {
      border: 1px solid #4559FF;
      border-radius: 5px;
      padding: 0.2em;
      background-color: #fff;
      color: #4559FF;
      letter-spacing: 1px;

      &:hover {
        color: #fff;
        background-color: #4559FF;
      }
    }
    &-price {
      color: #808080;
      font-size: 0.8em;;
    }

  }

  &-bottom {
    display: flex;
    height: 5vh;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #D3D3D3;
    background-color: #fff;

    &-icons {
    width: 70%;
    text-align: start;
      img {
        cursor: pointer;
        margin-right: 0.7rem;

        &:hover {
          height: 1.3em;
        }
      }
    }

    &-status {
    width: 30%;
      p {
        color: red;
      }
    }
  }
  
}

.test {
  display: flex;
}

.description {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 0 0 5px 5px;
  height: 100vh;
  margin-bottom: 5rem;
  


  &-content {
    //width: 80%;
    padding: 2rem;

   h1, p, ul {
    padding-bottom: 0.5em;
    font-size: 0.8em;
    text-align: justify;
    margin-bottom: 1rem;
    
   }
   h1 {
     font-weight: bold;
   }

   ul li {
     list-style-type: circle;
     margin-left: 2rem;
     margin-bottom: 1rem;
   }

   a {
     color: rgb(78, 84, 140);

     &:hover {
       text-decoration: underline;
     }
   }

  }

  &-time {
    font-size: 0.8em;
    padding: 2rem;
    text-align: start;
    margin-left: 8rem;

    h1 {
      font-weight: bold;
      margin-bottom: 1rem;
    }

    a {
      color: #50558d;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      margin-bottom: 0.3rem
    }
  }
}

.address {

  h1 {
    margin-top: 3rem;
  }
}

.speakers {

  display: flex;
  font-size: 0.8em;
  margin-bottom: 1rem;
  //padding: 2rem;
  
  img {
    width: 150px;
    height: 180px;

    border-radius: 25% 10%;
    // margin-top: 5rem;
    // margin-right: 3rem;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(78, 84, 140,0.2);
    }

  }

  &-card {
    margin-top: 4rem;
    margin-right: 1rem;
    transition: 0.3s;
    //width: 25%;


    &-content {
      padding: 2px 16px;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 2rem;
  }

}

.tags {
  text-align: justify;
  margin-left: 1rem;

  h1 {
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    
  }

  p {
   display: inline;
   text-align: left; 
   margin-right: 2rem;
   border: 1px solid rgb(78, 84, 140);
   border-radius: 30px;
   padding: 0.5rem;
   font-size: 0.6em;
   color: rgb(78, 84, 140);
   letter-spacing: 1px ;
  }
  
}

.check-buttons {
  margin-top: 3rem;
  text-align: justify;
  margin-left: 2rem;

  button {
    border-radius: 5px;
    border: 0;
    padding: 0.5rem;
    margin-right: 1rem;
    background-color: rgb(79, 92, 238);
    color: #fff;
    font-weight: bold;

    &:hover {
      background-color: rgba(79, 92, 238, .8);
    }
  }

}


/* Responsive */

@media (max-width: 70em) {
 
  .header-event {
  
    &-bg {
      background-image: url("images/event.png");
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      height: 30vh;
      width: 100%;
      border-bottom: 1px solid #D3D3D3;
      border-radius: 5px 0 0 0;
    }
  
    &-infos {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      width: 100%;
      text-align: justify;
      background-color: #EBEBEE;
      border-bottom: 1px solid #D3D3D3;
      padding: 1rem;
      border-radius: 0 5px 0 0;
      font-size: 0.8em;
  
      &-date {
        font-size: 0.8em;
      }
      &-name {
        font-weight: bold;
        letter-spacing: 1px;
        padding-bottom: 1em;;
      }
      span {
        font-size: 0.7em;
        color: 	#808080;
        margin-right: 0.5em;
      }
      button {
        border: 1px solid #4559FF;
        border-radius: 5px;
        padding: 0.2em;
        background-color: #fff;
        color: #4559FF;
        letter-spacing: 1px;
  
        &:hover {
          color: #fff;
          background-color: #4559FF;
        }
      }
      &-price {
        color: #808080;
        font-size: 0.8em;;
      }
  
    }

    /* */

    .test {
      //display: flex;
    }
    
    .description {
      background-color: #fff;
      border: 1px solid #E0E0E0;
      border-radius: 0 0 5px 5px;
      height: 100vh;
      margin-bottom: 5rem;
      
    
    
      &-content {
        //width: 80%;
        padding: 2rem;
 
    
       h1, p, ul {
        padding-bottom: 0.5em;
        font-size: 0.8em;
        text-align: justify;
        margin-bottom: 1rem;
        
       }
       h1 {
         font-weight: bold;
       }
    
       ul li {
         list-style-type: circle;
         margin-left: 2rem;
         margin-bottom: 1rem;
       }
    
       a {
         color: #50558d;
    
         &:hover {
           text-decoration: underline;
         }
       }
    
      }
    
      &-time {
       // width: 100%;
        font-size: 0.8em;
        padding: 2rem;
        text-align: start;
       // margin-left: 8rem;
    
        h1 {
          font-weight: bold;
          margin-bottom: 1rem;
        }
    
        a {
          color: #50558d;
    
          &:hover {
            text-decoration: underline;
          }
        }
    
        p {
          margin-bottom: 0.3rem
        }
      }
    }
    
    .address {
    
      h1 {
        margin-top: 3rem;
      }
    }

    /*
    */
    
    .speakers {
    
      display: flex;
      font-size: 0.8em;
      margin-bottom: 2rem;
      //padding: 2rem;
      
      img {
        height: 100px;
      }
    
      &-card {
        margin-top: 4rem;
        margin-right: 1rem;
    
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 15%;
    
        &:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    
        &-content {
          padding: 2px 16px;
        }
      }
    
      h1 {
        font-weight: bold;
        font-size: 0.9rem;
        margin-left: 2rem;
      }
    
    }
    
    .tags {
      text-align: justify;
      margin-left: 1rem;
    
      h1 {
        margin-bottom: 2rem;
        font-size: 0.9rem;
        font-weight: bold;
        
      }
    
      p {
       display: inline;
       text-align: left; 
       margin-right: 2rem;
       border: 1px solid rgb(24, 23, 23);
       border-radius: 30px;
       padding: 0.5rem;
       font-size: 0.8em;
      }
      
    }
    
    .check-buttons {
      margin-top: 3rem;
      text-align: justify;
      margin-left: 2rem;
    
      button {
        border-radius: 5px;
        border: 0;
        padding: 0.5rem;
        margin-right: 1rem;
        background-color: rgb(79, 92, 238);
        color: #fff;
        font-weight: bold;
    
        &:hover {
          background-color: rgba(79, 92, 238, .8);
        }
      }
    
    }
  }  
}