@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

// #wrapper {
//   max-width: 1400px;
//   margin: auto;
// }

/* CSS NAVIGATION */
.navigation-item {
  font-weight: 900;
  width: 100%;
  background-color: rgba(black, .3);
  //background: linear-gradient(143deg, rgba(10,124,144,.3) 0%, rgba(20,88,130,.3) 49%, rgba(37,58,126,.3) 100%);
  padding: 2rem;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  z-index: 1;
  margin-bottom: -112px;

  &--left {
    font-family: $fontFamilyTitle;
    font-size: 2.5rem;
    margin-right: auto;
  }

  .searchbar {
    display: none;
  }

  .searchbar-visible {
    display: inline;
    margin-left: 2rem;

    .searchbar-input {
      @include form-element;      
    }
  }
}

.menu-burger {
display: block;
position: fixed;
right: 1rem;
top: 0.8rem;
font-size: 2rem;
color: $turquoise;
z-index:1;
}

.menu {
display: none;
  &-main {
    background: darken($backgroundDark, 5%);
    color: $colorDarkTheme;
    width: 100%;
    margin: auto;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2rem;
  }
}
.menu-visible {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: $mainGradientOpacity;
  padding: .5rem;

  
  .navigation-item--right {
    display: block;
    width: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: left;
    font-weight: 900;
    color: $colorDarkTheme;

      &:hover {
        color: $turquoise;
      }

      &.button {
        background: none;
        margin-left: -0.2rem;
      }
  }
}

section {
  padding: $sectionPaddingMobile;
  font-family: 'univers', sans-serif;
}

/* CSS POUR FOOTER */ 
footer {
  a {
    color : $colorDarkTheme;
  }
  .footer {
    background: rgba(black, .3);
    padding: $sectionPaddingMobile;

      &-title {
      @include title($purple);
      font-size: 0;
      }

    &-subtitle {
      @include subtitleType1;
    }
    & ul li {
      padding: 0 1rem .2rem;
    }
    &-social {
      text-align: center;
      padding: 2rem 0;
    }

    &-links {
      text-align: right;
    }
  }
}

/* RULES FOR RESPONSIVE */
@media all and (min-width: 768px) {
  /* NAVIGATION */
  .navigation-item--left {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .searchbar {
      margin: -0.7rem 3rem 0;
    }
  }
}


@media all and (min-width: 980px) {
  /* NAVIGATION */
  .menu-burger {
    display: none;
  }
  .menu {
    display: initial;

    &-main {
      background: transparent;
      margin: auto;
      min-height: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
  }

    .navigation-item {

      &--right {
        font-size: 1rem;
        margin: 0 2rem;
        text-transform: uppercase;

          &.button {
            color: $colorLightTheme;
            background: $lightGradient;
            padding: $paddingButton;
            font-weight: 900;
            box-shadow: 2px 1px 5px rgba(0,0,0,.5);
            border-radius: 5px;
          }

          &.button:hover, &--active button {
            background: $turquoiseGradient;
            color: $colorDarkTheme;
          }
      }

      &--active {
        color: $turquoise;
      }
    }
  }

  section {
    padding: $mainPadding;
  }

  .footer > div {
    display: flex;
    justify-content: space-around;
  }
}