@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/animations';

body {
    background-color: $backgroundDark;
    color: $colorDarkTheme;
}

header {
  background: $mainGradient;
  width: 100%;
  position: relative;
  top: 0;
  padding-top: 112px;
  padding-bottom: 1rem;
    
    .header_background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .header-content-text {
      max-width: 450px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 5px;
      line-height: 2.5rem;
      font-size: 2rem;
      margin: 2rem auto;
      padding: 1rem;
      position: relative;
      animation: fromLeft .4s ease .1s;
      animation-fill-mode: backwards; 
    }


    .header-searchform {
      background: rgba(black, .3);
      padding: 3rem 3rem;
      z-index:0;
      box-shadow: 2px 1px 5px rgba(0,0,0,.5);
      margin: 1.8rem ;
      position: relative;
      animation: fromRight .4s ease .3s;
      animation-fill-mode: backwards; 

        &-h2 {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 900;
          margin: -0.5rem 0 1.5rem -1.5rem;
        }

        &-input, &-submit {
          @include form-element;
        }

        &-submit {
          @include form-submit;
        }
    }
}

main {
  @include contentLayer;
  animation-delay: .5s;

    .contact {
      //background: rgba(black, .3);
      padding: $sectionPaddingMobile;

        &-title {
         @include title($blue);
        }

        &-form {
            &-element {
              @include form-element;
            }

            &-element.button {
              @include form-submit;
            }

            &--note {
              font-style: italic;
              font-size: .8rem;
            }
        }       
    }
}

/* RULES FOR RESPONSIVE */
@media all and (min-width: 768px) {
  header {
    .navigation-item--left {
      font-size: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .searchbar {
        margin: -0.7rem 3rem 0;
      }
    }
  }
}

@media all and (min-width: 980px) {
    // rules for computer
    header {
      .header-content {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem 0;

        &-text {
          font-size: 2.5rem;
          margin: 0;
        }
      }
    }
  
    .contact-form {
      max-width: 800px;
      margin: auto;
    }
}

