@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.events {
  @include contentLayer;

  &-title {
    @include titleFlag($colorDarkTheme, $mainGradientExtDark, $turquoise, $purple);
    margin: 1rem -1.7rem 4rem;
  }
}

/* CSS FORM & FILTERS */
.form {
  &-simple {
    display: flex;
    &-input {
      @include form-element;
      border-color: $purple;
    }
  
    &-button {
      background: none;
      color: $colorDarkTheme;
      border-bottom: 2px solid $purple;
      margin: 1rem;
      text-transform: uppercase;
      &:hover {
        border-bottom: 2px solid $turquoise;
      }
    }
  }

  &-submit {
    @include form-submit;
    margin: 1rem 0 2rem;
  }

  .advanced-filter {
    display: flex;
    flex-wrap: wrap;

    &-group {
      width: 100%;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &.price, &.online, &.date, &.location {
        input {
          border-radius: $radius;
          border: none;
          padding: .3rem .5rem;
          color: $colorLightTheme;
          font-family: 'univers', sans-serif;
          width: 100%;
        }
      }
      
      &.price, &.online {
        input {
          width: fit-content;
        }
      }
    }

    &-name {
      font-weight: 900;
      text-transform: uppercase;
      width: 100%;
    }
  }
}


/* CSS LIST VIEW */
.events-view-list {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2rem;

  & .event-resume {
    width: 100%;
    margin:auto;
    padding: 1rem .3rem;
    border-bottom: 1px solid rgba($colorDarkTheme, .5);

    &-image {
      width: 100%;
    }

    &-title {
      padding:.5rem 0;
      font-weight: 900;
    }
    &-infos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: .8rem;
    }

    &:last-of-type {
      border: none;
    }
  }

}

/* CSS CARD VIEW */
.events-view-card {
  overflow: hidden;
  
  & .events-container {
    width: 1250px;
    display: flex;
    justify-content: space-around;
    position: relative;
    transition: all .2s ease;
  }

  & .event-resume {
    height: 300px;
    width: 250px;
    background-size: cover;
    background-position: center;
    margin: 0 .4rem; 
    color: $colorDarkTheme;
    position: relative;
    border: 1px solid transparent;
    border-image-source: $mainGradient;
    border-image-slice: 1;
    transition: all .2s ease;
    
    &-gradient {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &-date {
      background-color: $purple;
      padding: .5rem;
      text-transform: uppercase;
      width: 3rem;
      align-self: flex-end;
      text-align: right;
    }

    &-address {
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 1rem;
      display: none;
      animation: fromCenter .3s ease;
    }

    &-title {
      text-align: center;
      padding: 1rem;
      font-weight: 900;
      font-size: 1.2rem;
      text-shadow: 0 0 3px rgba(199, 189, 189, .6);
      
    }
  }
}

.arrow {
  display: flex;
  justify-content: center;

  &-left, &-right {
  background: none;
  }

  .icon {
    transform: scale(.7);
  }
}

/* RESPONSIVE RULES */
  
  @media all and (min-width: 768px) {
    .events-view-list {
      flex-direction: row;

      #fake-div {
        display: none;
        width: calc(750px / 2);
        height: 800px;
        padding: 0 2rem;
      }

      .events-right {
         width: calc(750px / 2);
      }

      .events-left{
         width: calc(750px / 2);
         padding-right: 1rem;
      }

      & .event-resume {
        display: flex;
        flex: wrap;
    
        &-image {
          height: 120px;
          width: 40%;
          object-fit: cover;
        }

        &--right {
         padding: .5rem 1rem;
         flex-basis: 100%;
        }
      }
    }
  }
  
  @media all and (min-width: 1024px) {
    .events-title {
      margin: 0rem -1.7rem;
    }

    .events-view-list {
      .events-right {
        width: calc(1200px / 2);
        left: calc(1200px / 2 - 16px);
      }

      .events-left{
        width: calc(1200px / 2);
      }

      #fake-div {
        width: calc(1200px / 2);
      }
    }

    .events-view-card {
      overflow: initial;

      & .events-container {
        width: 100%;

        .event-resume {
          width: calc(100% / 5 - 1rem);

          &-link:hover {
            color: $colorDarkTheme;
            text-shadow: 0 0 1px rgba(199, 189, 189, .6);
          }
      
          &:hover {
            box-shadow: 0 0 15px rgba(36, 34, 34, .7);
            width: calc(100% / 3 - 1rem);
      
            .event-resume-address {
              display: initial;
            }
          }
        }
      }
    }

    .arrow {
      display: none;
    }
  }
