@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.events {
  @include contentLayer;

  &-title {
    @include title($turquoise);
  }
}

.advanced-filter div {
  margin: 2rem;
}

h3 {
  @include subtitleType2;
  margin-top: 2rem;
}

.advanced-filter-name {
  @include subtitleType1;
}

.horizontal-menu {
  margin: 0 -1rem 2rem;
}

.menu-item-wrapper {
  width: calc(100% / 50);
  height: 380px;
}

.menu-item.list {
  width: 200px;
}

.menu-item {
  margin: .5rem;
  //user-select: none;

  &-top {
    font-size: 0;
    height: 170px;
  }

  &-middle {
    white-space: normal;
    background-color: white;
    position: relative;
    
    &-title {
      margin: 0.5rem 0;
      text-transform: uppercase;
      border-bottom: 2px solid $blue;
      border-image-source: $mainGradient;
      border-image-slice: 1;
      text-align: center;
      font-weight: 900;
    }
    
    &-content {
      padding: .5rem .5rem 2.7rem;
      font-size: .9rem;
    }

    & .icon {
      position: absolute;
      right: .2rem;
      bottom: 0;
    }
  }

  &-bot {
    display: flex;
    justify-content: space-between;
    background: $blueGradient;
    color: white;
    padding: .3rem .5rem
  }
}

.scroll-menu-arrow {
  color: $colorLightTheme;
  cursor: pointer;
}
 
.icon {
  transform: scale(.7);
}


/* RESPONSIVE RULES */
  
  @media all and (min-width: 768px) {
    .horizontal-menu {
      margin: 0 1rem 2rem;
    }

    .menu-item-top {
      height: 190px;
    }
    .menu-item-wrapper {
      width: calc(100% / 42);
      padding: 0 .5rem;
    }
  }
  
  @media all and (min-width: 1024px) {
    .menu-item-wrapper {
      width: calc(100% / 38);
    }
  }