@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';

.private-policy {
  @include contentLayer;

  a {
    color: $blue;
    
    &:hover {
      color: $purple;
    }
  }

  &-title {
    @include title($blue);
  }

  &-paragraph {
    padding: 1rem;
    margin: auto;
  }

  &-subtitle {
    @include subtitleType2;
    text-align: center;
  }

  &-list {
    margin: auto;
    max-width: 750px;
    padding: 0 2rem;

    &-item {
      padding: 0.5rem 0;
      list-style-type: disc;
    }
  }
}

@media all and (min-width: 768px) {
  .private-policy-list {
    padding: 0 4rem;
  }
}