/* COLORS */
$backgroundDark : #38414a;
$colorDarkTheme : #f6fafd;

$backgroundLight: #f6fafd;
$colorLightTheme: #38414a;

$turquoise : rgba(14,179,207,1);
$purple : #6942e4;
$blue : #3A7BDA;
$red: rgb(185, 36, 73);

/* GRADIENTS */
$mainGradient: linear-gradient(143deg, rgba(14,179,207,1) 0%, rgba(37,93,173,1) 54%, rgba(93,58,201,1) 100%);
$mainGradientOpacity: linear-gradient(143deg, rgba(14,179,207,.5) 0%, rgba(37,93,173,.5) 54%, rgba(93,58,201,.5) 100%);
$lightGradient: linear-gradient(0deg, rgba(224,224,224,1) 5%, rgba(255,255,255,1) 54%, rgb(226, 226, 226) 100%);
$turquoiseGradient: radial-gradient(circle, rgba(9,185,193,1) 0%, rgba(37,194,219,1) 49%, rgba(16,159,199,1) 100%);
$blueGradient: radial-gradient(circle, rgb(48, 149, 207) 0%, rgba(36,96,174,1) 70%, rgb(40, 107, 146) 100%);


/* PADDING & MARGIN */
$mainPadding: 0 4rem;
$sectionPaddingMobile: 2rem 1rem;
$paddingButton: .7rem 1rem .5rem;

/* FONTS STYLE */
$fontSizeTitle : 2.3rem;
$fontSizeSubTitle : 1.5rem;
$fontFamilyTitle : 'hero';

/** User | START **/

/* Sizes */
$headerSize: 200px;
$headerAvatarSize: 200px;
$deleteModalSize: 450px;

/* Fonts sizes */
$preferenceTextContentFontSize: 0.9em;
$preferenceLabelFontSize: 0.7em;

/* Colors */
$preferenceTextTitleColor: #333;

/* Colors | Light mode */
// Backgrounds
$preferenceBgColor: #f6fafd;

// Texts
$preferenceTextContentColor: #333;
$preferenceTextLabelColor: #858585;

// Inputs
$preferenceCheckedColor: #080;
$preferenceUncheckedColor: #bbb;

// Buttons
$preferenceEditLinkColor: #0eb3cf;
$preferenceValidateLinkColor: #3fb63b;
$preferenceDeleteLinkColor: #da3a3a;

// Buttons hover
$preferenceEditLinkColorHover: #6942e4;
$preferenceValidateLinkColorHover: #227c22;
$preferenceDeleteLinkColorHover: #9c2929;

/** User | END **/ 

/* Responsive */

// Extra small phones
$screen-xs-max: 576px;
// Small phones
$screen-sm-min: 576px ;
// Small tablets
$screen-md-min: 768px ;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
