@keyframes bounce {
  from {
      transform: translate3d(0, -2px, 0);
  }

  to {
      transform: translate3d(0, -5px, 0);
  }
}

@keyframes fromTop {
  0% { 
    opacity: 0;
    transform: translateY(-20%); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

@keyframes fromBottom {
  0% { 
    top: 0;
  }
  100% {
    top: -60px;
  }
}

@keyframes dropSection {
  0% { 
    opacity: 0;
    transform: translateY(-5%); 
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fromLeft {
  0% { 
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes fromRight {
  0% { 
    opacity: 0;
    transform: translateX(30%); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes textEffect {
  0% { 
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes menuBurger {
  0% { 
    opacity: 0;
    transform: translateX(80%); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

@keyframes fade {
  0% {
    opacity: 0;  
  }
  100% {
    opacity: 1;  
  }
}

@keyframes unfade {
  0% {
    opacity: 1;  
  }
  100% {
    opacity: 0;  
  }
}

@keyframes fromCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes gradientBG {
	from { 
    background-position: 200%;
  }
	to {
    background-position: 100%,
  }
}
