@import 'reset';
@import 'vars';
@import 'mixins';

/* IMPORT DES FONTS */
@font-face {
  font-family: 'hero';
  src: url('../fonts/Hero/hero-regular-webfont.woff2') format('woff2'),
       url('../fonts/Hero/hero-regular-webfont.woff') format('woff'),
       url('../fonts/Hero/Hero-Regular.otf') format('opentype'),
       url('../fonts/Hero/Hero-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'univers';
  src: url('../fonts/Univers/UniversLTStd.otf') format('opentype'),
       url('../fonts/Univers/Univers-light-normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'univers', sans-serif;
  background-color: $backgroundDark;
  color: $colorDarkTheme;
  background: $mainGradient;
}


.text, p {
  line-height: 1.3rem;
  max-width: 750px;
}

.text a, p a {
  color: $blue;
  border-bottom: 1px dashed rgba(255,255,255,.1);
}

a:hover {
  color: $turquoise;
}

a:active {
  color: $purple;
}





