@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/animations';

body {
    background-color: $backgroundDark;
    color: $colorDarkTheme;
    background: $mainGradient;
}

.header-content {
  
  width: 100%;
  position: relative;
  top: 0;
  padding-bottom: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

    &-text {
      max-width: 450px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 5px;
      line-height: 2.5rem;
      font-size: 2rem;
      margin: 2rem auto;
      padding: 1rem;
      position: relative;
      animation: textEffect .5s ease .3s;
      animation-fill-mode: backwards; 
    }


    .header-searchform {
      background: rgba(black, .3);
      padding: 3rem 3rem;
      z-index:0;
      //border: $border;
      border-radius: $radius;
      //box-shadow: $boxShadow;
      margin: 1.8rem 1rem 2.5rem;
      position: relative;
      animation: fromRight .5s cubic-bezier(0.215, 0.610, 0.355, 1) .8s;
      animation-fill-mode: backwards; 

        &-h2 {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 900;
          margin: -0.5rem 0 1.5rem -1.5rem;
        }

        &-input, &-submit {
          @include form-element;
        }

        &-submit {
          @include form-submit;
          text-align: center;
        }
    }
}

main {
  @include contentLayer;

    .contact {
      padding: $sectionPaddingMobile;

        &-title {
         @include title($blue);
        }

        &-form {
            &-element {
              @include form-element;
            }

            &-element.button {
              @include form-submit;
              background-size: 1400px;
            }

            &--note {
              font-style: italic;
              font-size: .8rem;
            }
        }       
    }
}

/* RULES FOR RESPONSIVE */
@media all and (min-width: 768px) {
  .header-content {
    max-width: 800px;
    margin:auto;
    flex-direction: row;

    .navigation-item--left {
      font-size: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .searchbar {
        margin: -0.7rem 3rem 0;
      }
    }

    &-text {
      max-width: 600px;
      line-height: 3.5rem;
    }

    .header-searchform {
      padding: 4rem;

        &-h2 {
          font-size: 1.5rem;
        }

        &-input {
          @include form-element;
          margin: 1.5rem auto;
          padding: .8rem 1.3rem;
        }

        &-submit {
          @include form-submit;
          text-align: center;
          margin: 1.5rem auto;
          padding: .8rem 1.3rem;
        }
    }
  }

  main {
    margin-top: -6rem;
  }
}

@media all and (min-width: 980px) {
    // rules for computer
    .header-content {
      max-width: 1200px;
      top: -50px;
      .header-content {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem 0;

        &-text {
          font-size: 2.5rem;
          margin: 0;;
        }
      }
    }
  
    .contact-form {
      max-width: 800px;
      margin: auto;
    }
}
