@import 'src/assets/styles/vars';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/animations';

.header-content {
  
  width: 100%;
  position: relative;
  top: 0;
  padding-bottom: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

    &-text {
      max-width: 450px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 5px;
      line-height: 2.5rem;
      font-size: 2rem;
      margin: 2rem auto;
      padding: 1rem;
      position: relative;
      animation: textEffect .5s ease .3s;
      animation-fill-mode: backwards; 
    }


    .header-searchform {
      background: rgba(black, .3);
      padding: 3rem 3rem;
      z-index:0;
      //border: $border;
      border-radius: $radius;
      //box-shadow: $boxShadow;
      margin: 1.8rem 1rem 2.5rem;
      position: relative;
      animation: fromRight .5s cubic-bezier(0.215, 0.610, 0.355, 1) .8s;
      animation-fill-mode: backwards; 

        &-h2 {
          text-transform: uppercase;
          font-size: 1.3rem;
          font-weight: 900;
          margin: -0.5rem 0 1.5rem -1.5rem;
        }

        &-input {
          @include form-element;
        }

        &-submit {
          @include form-element;
          @include form-submit;
          text-align: center;
        }
    }
}

.home {
  @include contentLayer;
  margin-top: 0rem;
  transition: 0.3s;

  &.hidden-section {
    opacity: 0;
    animation: fade .5s ease reverse;
  }

  &.display-section {
    animation: fade .5s ease;
  }

  .now, .nextevents, .contact, .homemap {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .now-title,
  .nextevents-title,
  .contact-title,
  .homemap-title {
    @include titleFlag($colorDarkTheme, $mainGradientExtDark, $turquoise, $purple);
  }

  .contact-form,
  .nextevents .events-view-card, 
  .now-content,
  .homemap-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

  .now {
    .image {
      width: 100%;
      margin: 0 0 1rem 0;
      box-shadow: $boxShadow;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .link {
      text-align: center;
      width: 100%;
      margin: 2rem 0 0 0;
      color: $colorDarkTheme;
      font-weight: 900;
      letter-spacing: 1px;
      padding: $paddingButton;
      border-radius: $radius;
      border: 2px solid $colorDarkTheme;
      background: transparent;
      background: $mainGradient;
      background-size: 500px 60px;
      background-position: -500px 0;
      background-repeat: no-repeat;
      transition: background-position .3s ease-out;
      
    }

    .link:hover {
      background-position: 0%;
    }
  }

  .nextevents .events-view-card, .nextevents .arrow {
    width: 100%;
  }

  
  .contact {
    &-form {
      flex-direction: column;
      justify-content: center;
      &-element {
        @include form-element;
      }

      &-element.button {
        @include form-submit;
        background-size: 1400px;
      }

      &--note {
        font-style: italic;
        font-size: .8rem;
      }

      &-sent-text {
        margin: -1rem auto 2rem;
      }
    }       
  }
}


/* RULES FOR RESPONSIVE */
@media all and (min-width: 768px) {
  .header-content {
    max-width: 800px;
    margin:auto;
    flex-direction: row;

    .navigation-item--left {
      font-size: 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .searchbar {
        margin: -0.7rem 3rem 0;
      }
    }

    &-text {
      max-width: 620px;
      line-height: 3.5rem;
    }

    .header-searchform {
      padding: 4rem;

        &-h2 {
          font-size: 1.5rem;
        }

        &-input {
          @include form-element;
          margin: 1.5rem auto;
          padding: .8rem 1.3rem;
        }

        &-submit {
          @include form-submit;
          text-align: center;
          margin: 1.5rem auto;
          padding: .8rem 1.3rem;
        }
    }
  }

  .home {
    margin-top: -10rem;

    &.display-section {
      animation: dropSection .5s ease-out;
    }
  }
  .homemap-content {
    .leaflet-container {
      height: 500px;
      width: 90%;
      margin:auto;
    }
  }
}

@media all and (min-width: 980px) {
    // rules for computer
    .header-content {
      max-width: 1200px;
      top: -50px;
      .header-content {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 3rem 0;

        &-text {
          font-size: 2.5rem;
          margin: 0;;
        }
      }
    }

    .home {
      .now {
        .image {
          margin: 5rem auto;
        }
    
        &-content {
          flex-wrap: no-wrap;
        }
    
        .link {
          width: 300px;
          margin: 0 auto 5rem;
          background-size: 300px 60px;
          background-position: -300px 0;
        }
      }
    
      .contact-form {
        width: 800px;
        margin:auto;
      }
    }
}
